body 
{
    font-family : 'Times New Roman', sans-serif;
    background-color: #f0f2f5;
    color:#333;
    line-height:1.4;
    margin : 0;
    padding :0;
}
h1,h2{
    font-weight: 700;
}

p{
    font-weight:400;
}

a{
    color:#007bff;
}

a:hover
{
    color : #0056b3;
    text-decoration : underline;
}